	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/09/2018 13:07
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-down-arrow:before { content: "\f101"; }
.flaticon-shopping-bag:before { content: "\f102"; }
.flaticon-online-shopping-cart:before { content: "\f103"; }
.flaticon-calendar:before { content: "\f104"; }
.flaticon-thumbs-up-hand-symbol:before { content: "\f105"; }
.flaticon-speech-bubbles-comment-option:before { content: "\f106"; }
.flaticon-share:before { content: "\f107"; }
.flaticon-left-quote:before { content: "\f108"; }
.flaticon-right-quote:before { content: "\f109"; }
.flaticon-telephone:before { content: "\f10a"; }
.flaticon-close-envelope:before { content: "\f10b"; }
.flaticon-maps-and-flags:before { content: "\f10c"; }