:after,:before,a {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

#progressbar li,.fd_padder_bottom10 {
  padding-bottom: 10px;
}

.toast-error {
  box-shadow: none!important;
}

.fd_btn,.fd_next,.fd_prev,a.fd_read_more {
  cursor: pointer;
  text-transform: capitalize;
}

.fd_btn,.fd_heading_wrapper h1,.fd_next,.fd_prev,.fd_related_search ul li,.fd_subheading,a.fd_read_more {
  text-transform: capitalize;
}

body {
  margin: 0;
  font-family: Montserrat,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #777;
  background-color: #fff;
  overflow-x: hidden;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
  color: #222;
  font-family: Caveat,cursive;
}

p {
  font-size: 14px;
}

a {
  color: inherit;
  cursor: pointer;
}

.fd_transition,.form-control {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

a:hover {
  color: #ab845d!important;
  text-decoration: none;
}

a:focus,button:focus {
  outline: 0;
}

.fd_padder_top10 {
  padding-top: 10px;
}

.fd_padder_top20 {
  padding-top: 20px;
}

.fd_padder_top30 {
  padding-top: 30px;
}

.fd_padder_top40 {
  padding-top: 40px;
}

.fd_padder_top50 {
  padding-top: 50px;
}

.fd_padder_top60 {
  padding-top: 60px;
}

.fd_padder_top70 {
  padding-top: 70px;
}

.fd_padder_top80,.fd_padder_top90 {
  padding-top: 80px;
}

.fd_padder_top100 {
  padding-top: 100px;
}

.fd_padder_bottom20 {
  padding-bottom: 20px;
}

.fd_padder_bottom30 {
  padding-bottom: 30px;
}

.fd_padder_bottom40 {
  padding-bottom: 40px;
}

.fd_padder_bottom50 {
  padding-bottom: 50px;
}

.fd_padder_bottom60 {
  padding-bottom: 60px;
}

.fd_padder_bottom70 {
  padding-bottom: 70px;
}

.fd_padder_bottom80 {
  padding-bottom: 80px;
}

.fd_padder_bottom90 {
  padding-bottom: 90px;
}

.fd_padder_bottom100 {
  padding-bottom: 100px;
}

.fd_white_color {
  color: #fff!important;
}

.fd_section_overlay {
  position: relative;
  z-index: 1;
}

.fd_section_overlay:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(49,48,46,.96);
  z-index: -1;
}

.form-control {
  height: 50px;
  border-radius: 50px;
  padding: 0 25px;
  border: none;
  outline: 0!important;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  -ms-box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  -o-box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
}

textarea.form-control {
  height: 187px;
  resize: none;
  border-radius: 20px;
  padding-top: 10px;
}

.form-group {
  margin-bottom: 18px;
}

.fd_subheading {
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  margin-bottom: 8px;
}

.fd_heading_with_line.fd_subheading {
  font-size: 26px;
  font-weight: 800;
  position: relative;
  display: inline-flex;
  margin-bottom: 40px;
}

.fd_heading_with_line.fd_subheading:after {
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #ab845d;
  content: '';
  right: -35px;
  top: 50%;
}

.fd_next,.fd_prev {
  height: 42px;
  padding: 0 10px;
  background-color: #f5f5f5;
  display: inline-flex;
  line-height: 42px;
  max-width: 89px;
  width: 100%;
  outline: 0;
  justify-content: center;
  border-radius: 42px;
  font-weight: 500;
}

.fd_next:hover,.fd_prev:hover {
  background-color: #ab845d;
  color: #fff;
}

.fd_navigation {
  position: absolute;
  right: 0;
  bottom: 4px;
  z-index: 1;
  width: 22%;
  border-radius: 42px;
}

.fd_btn {
  display: inline-flex;
  color: #fff!important;
  background-color: #ab845d;
  height: 50px;
  line-height: 50px;
  max-width: 170px;
  width: 100%;
  border-radius: 50px;
  justify-content: center;
  border: none;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  position: relative;
}

.fd_btn:hover {
  color: #fff!important;
  background-color: transparent;
}

.fd_btn:after,.fd_btn:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 50px;
  border: 6px solid rgba(171,132,93,.3);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -ms-transition-delay: 50ms;
  -o-transition-delay: 50ms;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
}

.fd_btn:hover:after,.fd_btn:hover:before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.fd_btn:before {
  border-width: 1px;
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
  transition-delay: .15s;
  -webkit-transition-delay: .15s;
  -moz-transition-delay: .15s;
  -ms-transition-delay: .15s;
  -o-transition-delay: .15s;
}

a.fd_read_more {
  position: relative;
  color: #222!important;
  font-weight: 500;
}

.fd_read_more:hover {
  color: #ab845d!important;
}

a.fd_read_more:after {
  content: "\f178";
  font-family: fontawesome;
  right: -20px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  height: 20px;
}

.fd_banner_content h1,.fd_breadcrum_wrappper h1,.fd_cookie_message .fd_subheading,.fd_heading_wrapper h1 {
  font-family: Montserrat,sans-serif;
}

.fd_read_more:hover:after {
  right: -23px;
}

ul.fd_social_icon {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fd_social_icon li a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  border-radius: 100%;
  background-color: #ab845d;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  transition-delay: 10ms;
  -webkit-transition-delay: 10ms;
  -moz-transition-delay: 10ms;
  -ms-transition-delay: 10ms;
  color: #fff!important;
}

.fd_cookie_message button.fd_btn:hover,.fd_modal button:hover {
  color: #ab845d!important;
}

.fd_social_icon li a:hover {
  background-color: #fff!important;
  color: #ab845d!important;
}

.fd_shap_top,.fd_shap_wrapper {
  position: relative;
  z-index: 2;
}

.fd_shap_wrapper:after,.fd_shap_wrapper:before {
  position: absolute;
  content: '';
  width: 52%;
  height: 200px;
  background-color: #fff;
  bottom: -115px;
  border-top-right-radius: 200px;
  left: 0;
  z-index: -1;
}

.fd_shap_top:after,.fd_shap_wrapper:after {
  right: 0;
  left: auto;
  border-top-right-radius: 0;
  border-top-left-radius: 200px;
}

.fd_offer_main_wrapper .fd_shap_top:after,.fd_offer_main_wrapper .fd_shap_top:before,.fd_testimonial_main_wrapper .fd_shap_top:after,.fd_testimonial_main_wrapper .fd_shap_top:before {
  bottom: -200px;
}

.fd_shap_top:after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 200px;
}

.fd_shap_top:before {
  border-top-right-radius: 0;
  border-bottom-right-radius: 200px;
}

.fd_modal .form-control {
  border: 1px solid #ddd;
}

.fd_modal button {
  opacity: 1;
}

.fd_modal .modal-content {
  border-radius: 20px;
}

.fd_modal .modal-body {
  padding: 40px;
}

.fd_cookie_message {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  align-items: center;
}

.fd_container {
  max-width: 1170px;
  display: flex;
  width: 100%;
}

.fd_cookie_message .fd_subheading {
  font-size: 12px;
  margin-bottom: 2px;
}

.fd_cookie_message button.fd_btn {
  margin-left: 40px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 10px;
  max-width: 130px;
}

.fd_cookie_message p {
  margin: 0;
  font-size: 11px;
  line-height: initial;
  font-weight: 500;
  color: #8c8c8c;
}

.fd_cookie_message p a {
  color: #ab845d;
  font-weight: 500;
}

.fd_cookie_message .fd_close {
  top: 7px;
  right: 7px;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.fd_cookie_message .fd_close:after,.fd_cookie_message .fd_close:before {
  background-color: #948f8f;
}

.fd_heading_wrapper img {
  margin-left: 5px;
}

.fd_heading_wrapper {
  padding: 20px 0 40px;
}

.fd_heading_wrapper h1 {
  font-size: 32px;
  font-weight: 700;
  padding: 15px 0 10px;
  position: relative;
}

.fd_heading_wrapper h1:after {
  position: absolute;
  border-top: 3px solid #ab845d;
  width: 60px;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.fd_Seardh_box {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
  align-items: center;
  background-color: rgba(34,34,34,.85);
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
  opacity: 0;
  visibility: hidden;
}

.fd_Seardh_box.fd_show {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.fd_search_field {
  width: 45%;
  position: relative;
}

.fd_search_field .fd_btn {
  position: absolute;
  top: 0;
  right: 0;
}

.fd_search_field .fd_btn:hover {
  color: #ab845d!important;
}

.fd_search_field .form-control:focus {
  box-shadow: 0 0 30px 0 rgba(255,255,255,.45);
}

.fd_related_search {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  padding: 10px 25px;
  max-height: 300px;
  position: absolute;
  left: 25px;
  right: 25px;
  opacity: 0;
  visibility: hidden;
  transform: translate(25%,-50%) scale(0);
  -webkit-transform: translate(25%,-50%) scale(0);
  -moz-transform: translate(25%,-50%) scale(0);
  -ms-transform: translate(25%,-50%) scale(0);
  -o-transform: translate(25%,-50%) scale(0);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.fd_related_search.fd_search_result {
  transform: translate(0,0) scale(1);
  -webkit-transform: translate(0,0) scale(1);
  -moz-transform: translate(0,0) scale(1);
  -ms-transform: translate(0,0) scale(1);
  -o-transform: translate(0,0) scale(1);
  opacity: 1;
  visibility: visible;
}

.fd_related_search ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.fd_related_search ul li {
  margin: 15px 0;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fd_related_search ul li .fd_btn {
  position: relative;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}

.fd_related_search ul li img {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.fd_related_search ul li span {
  color: #222;
  font-weight: 600;
  font-size: 16px;
}

.fd_related_search ul li:hover span {
  color: #ab845d;
}

.fd_related_search ul li .fd_product_data {
  width: 170px;
}

.fd_related_search ul li .fd_price {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.fd_banner_wpapper.fd_search_show {
  z-index: 10!important;
}

.fd_ring_effect {
  position: relative;
}

.fd_ring_effect:after,.fd_ring_effect:before {
  position: absolute;
  content: '';
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
  border: 1px solid #ab845d;
  border-radius: 100%;
  opacity: .5;
  animation: play_btn_ring_anim 3s infinite linear;
  -webkit-animation: play_btn_ring_anim 3s infinite linear;
  -moz-animation: play_btn_ring_anim 3s infinite linear;
  -ms-animation: play_btn_ring_anim 3s infinite linear;
  -o-animation: play_btn_ring_anim 3s infinite linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  z-index: -1;
}

.fd_ring_effect:before {
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  animation-delay: .9s;
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -ms-animation-delay: .9s;
  -o-animation-delay: .9s;
}

@keyframes play_btn_ring_anim {
  0% {
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  10% {
    opacity: .3;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
  }

  100% {
    opacity: .05;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
  }
}

.fd_close {
  position: absolute;
  background-color: #ab845d;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 20px;
  right: 20px;
  border-radius: 30px;
  cursor: pointer;
}

.fd_blogsigle_popup span.fd_close {
  top: 10px;
  right: 10px;
}

.fd_user_inner.fd_forgot_password .fd_close {
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.fd_close:after,.fd_close:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  -moz-transform: translate(-50%,-50%) rotate(45deg);
  -ms-transform: translate(-50%,-50%) rotate(45deg);
  -o-transform: translate(-50%,-50%) rotate(45deg);
  background-color: #fff;
}

.fd_close:after {
  transform: translate(-50%,-50%) rotate(-45deg);
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  -moz-transform: translate(-50%,-50%) rotate(-45deg);
  -ms-transform: translate(-50%,-50%) rotate(-45deg);
  -o-transform: translate(-50%,-50%) rotate(-45deg);
}

.fd_breadcrum_wrappper h1 {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.fd_breadcrumb .breadcrumb {
  background-color: rgba(255,255,255,.1);
  margin: 0;
  padding: 8px 22px;
  display: inline-flex;
  border-radius: 40px;
  color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before,.fd_breadcrumb .breadcrumb li.active {
  color: #fff;
}

.fd_banner_wpapper {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  z-index: 1;
}

.fd_fixed_header .fd_banner_wpapper {
  z-index: 3;
}

.fd_banner_wpapper:after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.fd_banner_content {
  padding: 250px 0 180px;
}

.fd_banner_content h1 {
  color: #fff;
  font-size: 52px;
  text-transform: uppercase;
  margin: 20px 0;
}

.fd_banner_content .fd_style_text {
  font-family: 'Kaushan Script',cursive;
  font-size: 62px;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url(../images/pattern.jpg);
  margin: 20px auto 5px;
  display: inline-block;
  position: relative;
  padding: 0 20px;
}

.fd_banner_content .fd_style_text:after,.fd_banner_content .fd_style_text:before {
  position: absolute;
  content: '';
  left: 100%;
  width: 78px;
  height: 1px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: .3;
}

.fd_banner_content .fd_style_text:after {
  left: auto;
  right: 100%;
}

.fd_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  position: fixed;
  padding: 20px 100px;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 99;
}

body>form~.fd_header {
  top: 64px;
}

.cookie_close>form~.fd_header {
  top: 20px;
}

body>form~.fd_header.fd_fixed {
  top: 0;
}

.fd_header.fd_fixed {
  top: 0;
  padding: 10px 100px;
  background-color: #000;
  box-shadow: 0 2px #ab845d;
}

.fd_right_section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fd_menu>ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.fd_menu>ul>li {
  padding: 0 20px;
}

.fd_menu>ul>li>a {
  text-transform: capitalize;
  color: #fff;
}

.fd_search span:before,.fd_user i:before {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.fd_user i:before {
  font-size: 8px;
  margin-left: 10px;
}

.fd_user_img {
  border-radius: 100%;
}

.fd_user {
  padding-left: 20px;
  margin-left: 20px;
  position: relative;
  padding-bottom: 20px;
}

.fd_user .user_icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: #fff;
  color: #ab845d;
  border-radius: 100%;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
}

.fd_home:before,.fd_user:before {
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: rgba(255,255,255,.2);
  content: '';
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.fd_home:before {
  left: auto;
  right: 0;
}

.fd_user_wrapper {
  position: absolute;
  min-width: 314px;
  right: -50px;
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
  top: 100%;
  transform: translate(25%,-50%) scale(0);
  -webkit-transform: translate(25%,-50%) scale(0);
  -moz-transform: translate(25%,-50%) scale(0);
  -ms-transform: translate(25%,-50%) scale(0);
  -o-transform: translate(25%,-50%) scale(0);
  box-shadow: 0 5px 30px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 30px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 30px rgba(0,0,0,.1);
  -ms-box-shadow: 0 5px 30px rgba(0,0,0,.1);
  -o-box-shadow: 0 5px 30px rgba(0,0,0,.1);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.fd_user.popup_open .fd_user_wrapper {
  transform: translate(0,0) scale(1);
  -webkit-transform: translate(0,0) scale(1);
  -moz-transform: translate(0,0) scale(1);
  -ms-transform: translate(0,0) scale(1);
  -o-transform: translate(0,0) scale(1);
  opacity: 1;
  visibility: visible;
}

.fd_user_wrapper .fd_subheading {
  padding-bottom: 16px;
  position: relative;
  margin-bottom: 16px;
}

.fd_user_wrapper .fd_subheading:after {
  height: 2px;
  background-color: #ab845d;
  width: 100px;
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.fd_user_wrapper .form-control {
  height: 36px;
  border: 1px solid #ccc;
  max-width: 236px;
  margin: 0 auto 15px;
  width: 100%;
}

.fd_user_wrapper .fd_btn {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}

.fd_user_wrapper .fd_btn:hover {
  color: #ab845d!important;
}

.fd_user_wrapper p {
  font-size: 13px;
}

.fd_user_wrapper:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  right: 70px;
  top: -7px;
}

.fd_user>a {
  transform: translateY(12px);
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -o-transform: translateY(12px);
  display: block;
}

.fd_user a span i:before {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  margin: 0;
}

.fd_login .fd_user i:before {
  font-size: 18px;
}

.fd_user_wrapper .nav-tabs {
  border: none;
  justify-content: center;
  margin-bottom: 30px;
}

.fd_user_wrapper .nav-tabs li a {
  font-weight: 700;
  text-transform: capitalize;
  color: #333;
  position: relative;
}

.fd_user_wrapper .nav-tabs li {
  padding: 0 10px;
  border-right: 1px solid #ccc;
  line-height: 10px;
}

.fd_user_wrapper .nav-tabs li:last-child {
  border-right: none;
}

.fd_user_wrapper .nav-tabs li a:after {
  width: 0;
  height: 2px;
  position: absolute;
  content: '';
  background-color: #ab845d;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.fd_user_wrapper .nav-tabs li a.active:after,.fd_user_wrapper .nav-tabs li a:hover:after {
  width: 34px;
}

.fd_user_inner>a {
  display: block;
  font-size: 13px;
  color: #666;
  padding-top: 8px;
  text-transform: capitalize;
  cursor: pointer;
}

.fd_forgot_password_link {
  border-top: 1px solid #ccc;
  width: 65%;
  margin: 18px auto 0;
}

.fd_user_inner.fd_forgot_password {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(.8);
  -webkit-transform: translate(-50%,-50%) scale(.8);
  -moz-transform: translate(-50%,-50%) scale(.8);
  -ms-transform: translate(-50%,-50%) scale(.8);
  -o-transform: translate(-50%,-50%) scale(.8);
  background-color: #fff;
  width: 100%;
  height: 80%;
  border-radius: 20px;
  padding: 50px 10px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}

.fd_user_inner.fd_forgot_password.fd_show {
  height: 100%;
  visibility: visible;
  transform: translate(-50%,-50%) scale(1);
  -webkit-transform: translate(-50%,-50%) scale(1);
  -moz-transform: translate(-50%,-50%) scale(1);
  -ms-transform: translate(-50%,-50%) scale(1);
  -o-transform: translate(-50%,-50%) scale(1);
  opacity: 1;
}

.fd_user_wrapper .tab-content>.active {
  animation: slidetop .3s ease-in-out;
  -webkit-animation: slidetop .3s ease-in-out;
  -ms-animation: slidetop .3s ease-in-out;
  -moz-animation: slidetop .3s ease-in-out;
  -o-animation: slidetop .3s ease-in-out;
}

@keyframes slidetop {
  0% {
    transform: translateY(10px) scale(.8);
    -webkit-transform: translateY(10px) scale(.8);
    -moz-transform: translateY(10px) scale(.8);
    -ms-transform: translateY(10px) scale(.8);
    -o-transform: translateY(10px) scale(.8);
  }

  100% {
    transform: translateY(0) scale(1);
    -webkit-transform: translateY(0) scale(1);
    -moz-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    -o-transform: translateY(0) scale(1);
  }
}

.fd_user_profile {
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  border-radius: 0;
  transform: none;
  width: 100%;
  max-width: 550px;
  padding: 50px 30px;
  overflow: auto;
  font-size: 13px;
  z-index:1000;
}

.fd_user.profile_popup_open .fd_user_wrapper.fd_user_profile {
  right: 0;
  transform: none;
  opacity: 1;
  visibility: visible;
}

.fd_user_profile .nav-tabs {
  background-color: #ac855d;
  padding: 50px 10px 60px;
  margin: -50px -30px 50px;
  position: relative;
  z-index: 1;
}

.fd_user_profile .nav-tabs:after,.fd_user_profile .nav-tabs:before {
  position: absolute;
  content: '';
  width: 52%;
  height: 40px;
  background-color: #fff;
  top: 80px;
  border-top-right-radius: 200px;
  left: 0;
  z-index: -1;
}

.fd_user_profile .nav-tabs:after {
  right: 0;
  left: auto;
  border-top-right-radius: 0;
  border-top-left-radius: 200px;
}

.fd_user_profile .nav-tabs li {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
  border-right: none;
}

.fd_user_profile .nav-tabs li a {
  font-size: 14px;
  padding: 10px 20px;
  color: #fff!important;
}

.fd_user_profile .nav-tabs li a.active {
  background-color: #fff;
  color: #ad865d!important;
  border-radius: 30px;
}

.fd_user_profile .form-control {
  max-width: 340px;
  margin-bottom: 20px;
}

.fd_cart_section span:before,.fd_user_close i:before {
  margin: 0;
}

.fd_user_close {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background: #ad865a;
  height: 30px;
  width: 30px;
  line-height: 32px;
  border-radius: 100px;
}

.fd_order_status {
  overflow-x: scroll;
}

.fd_order_status::-webkit-scrollbar,.fd_user_profile::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.fd_order_status::-webkit-scrollbar-thumb,.fd_user_profile::-webkit-scrollbar-thumb {
  background-color: #ad865a;
}

#fd_check {
  display: none;
}

.fd_check_box {
  display: flex;
  position: relative;
  padding-left: 36px;
}

.fd_check_box:after,.fd_check_box:before {
  width: 12px;
  height: 12px;
  position: absolute;
  content: '';
  background-color: #ab845d;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 15px;
}

.fd_check_box:before {
  background-color: transparent;
  border: 2px solid #fff;
  top: 7px;
  left: 19px;
  z-index: 1;
  width: 4px;
  height: 8px;
  border-top: none;
  border-left: none;
  transform: rotate(45deg) scale(.5);
  -webkit-transform: rotate(45deg) scale(.5);
  -moz-transform: rotate(45deg) scale(.5);
  -ms-transform: rotate(45deg) scale(.5);
  -o-transform: rotate(45deg) scale(.5);
  opacity: 0;
}

input#fd_check:checked~.fd_check_box:before {
  -o-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -moz-transform: rotate(45deg) scale(1);
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
}

.fd_cart_section span {
  width: 68px;
  height: 68px;
  background-color: #ab845d;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100%;
}

.fd_cart_section>span {
  width: 80px;
  height: 80px;
  background-color: rgba(171,132,93,.1);
}

.fd_cart_section {
  display: inline-flex;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
}

.fd_cart_wrapper,span.fd_shop_number {
  position: absolute;
  background-color: #fff;
}

@keyframes form_bottom {
  0% {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

span.fd_shop_number {
  width: 17px;
  height: 17px;
  color: #222;
  top: 50%;
  right: 24px;
  font-size: 10px;
  line-height: 19px;
}

.fd_cart_wrapper {
  width: 650px;
  border-radius: 30px;
  padding: 40px;
  right: 100px;
  box-shadow: 0 0 20px 8px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 20px 8px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 20px 8px rgba(0,0,0,.1);
  -ms-box-shadow: 0 0 20px 8px rgba(0,0,0,.1);
  -o-box-shadow: 0 0 20px 8px rgba(0,0,0,.1);
  cursor: auto;
  max-height: 550px;
  bottom: 0;
  transform: translate(50%,50%) scale(0);
  -webkit-transform: translate(50%,50%) scale(0);
  -moz-transform: translate(50%,50%) scale(0);
  -ms-transform: translate(50%,50%) scale(0);
  -o-transform: translate(50%,50%) scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.fd_cart_section .fd_cart_wrapper:after {
  top: auto;
  bottom: 30px;
}

.fd_cart_section.fd_open .fd_cart_wrapper {
  transform: translate(0,0) scale(1);
  -webkit-transform: translate(0,0) scale(1);
  -moz-transform: translate(0,0) scale(1);
  -ms-transform: translate(0,0) scale(1);
  -o-transform: translate(0,0) scale(1);
  opacity: 1;
  visibility: visible;
}

.fd_cart_wrapper .table-responsive {
  margin: 0!important;
  overflow: hidden;
  overflow-x: inherit;
}

.fd_cart_wrapper table {
  margin-bottom: 5px;
}

.fd_cart_wrapper table tr th {
  color: #222;
  font-weight: 600;
  font-size: 16px;
  border: none;
}

.fd_cart_wrapper table tr td img {
  border-radius: 10px;
  width: 50px;
}

.fd_cart_wrapper table tr td.fd_quantity {
  position: relative;
}

.fd_cart_wrapper table tr td.fd_quantity a {
  position: absolute;
  background-color: #ab845d;
  color: #fff!important;
  box-shadow: none;
  top: 50%;
  left: 5px;
  bottom: 17px;
  display: flex;
  align-items: center;
  border-radius: 20px 0 0 20px;
  height: 40px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#msform,#progressbar li,#progressbar li a {
  position: relative;
}

.fd_cart_wrapper table tr td.fd_quantity a:last-child {
  left: auto;
  right: 5px;
  border-radius: 0 20px 20px 0;
}

.fd_cart_wrapper table tr td {
  vertical-align: middle;
  font-size: 14px;
  color: #222;
  font-weight: 400;
  border-color: #f5f5f5;
}

.fd_cart_wrapper table tr .btn-danger:not(:disabled):not(.disabled):active,.fd_cart_wrapper table tr td.fd_remove a {
  border-color: transparent;
  background-color: transparent;
}

.fd_cart_wrapper table tr td.fd_remove a {
  border-radius: 100%;
  color: #ab845d!important;
  font-size: 20px;
}

.fd_cart_wrapper table tr td.fd_remove a:focus {
  box-shadow: none!important;
}

.fd_cart_wrapper table tr:hover {
  background-color: transparent;
}

#msform fieldset {
  background: #fff;
  border: 0;
  margin: 0;
  position: relative!important;
  width: 100%;
  height: 325px;
}

.fd_cart_wrapper>.fd_subheading {
  font-weight: 700;
}

.fd_cart_wrapper .fd_subheading {
  font-size: 18px;
  margin-bottom: 20px;
}

.fd_cart_wrapper fieldset .fd_subheading {
  font-size: 16px;
  margin-bottom: 16px;
}

fieldset .fd_btn {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  margin: 20px 15px 0 0;
}

fieldset .fd_btn:hover {
  color: #ab845d!important;
}

fieldset p {
  font-weight: 500;
  margin-bottom: 0;
  color: #222;
  font-size: 16px;
}

.gray {
  color: #669!important;
  margin-bottom: 8px;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

.fd_cart_wrapper .form-control {
  border: 1px solid #f6f6f6;
  height: 40px;
  background-color: #f6f6f6;
  line-height: 40px;
  font-size: 14px;
  font-weight: 500;
}

.fd_cart_wrapper table tr.red_color td {
  text-align: left!important;
  color: red;
}

#progressbar {
  margin-bottom: 25px;
  counter-reset: step;
  padding: 0 0 15px;
}

#progressbar li {
  list-style-type: none;
  color: #333;
  text-transform: capitalize;
  font-size: 16px;
  width: 24%;
  display: inline-flex;
  font-weight: 500;
}

.fd_payment_wrapper,.fd_payment_wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#progressbar li a:after,#progressbar li a:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #ccc;
  bottom: -24px;
  border-radius: 14px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#progressbar li a:before {
  width: 6px;
  height: 6px;
  background-color: #ccc;
  top: 38px;
}

span.fd_line {
  position: absolute;
  width: 95%;
  height: 2px;
  background-color: #ccc;
  bottom: -8px;
  right: 71%;
  border-radius: 0;
}

#progressbar li:nth-child(2) .fd_line {
  width: 95%;
  right: 85%;
}

#progressbar li:nth-child(3) .fd_line {
  width: 80%;
  right: 85%;
}

#progressbar li.active .fd_line,#progressbar li.active a:before {
  background-color: #31c609;
}

#progressbar li.active a:after,#progressbar li.active a:before {
  border-color: #31c609;
}

.fd_debit_card p {
  color: #666;
}

.fd_payment_wrapper ul {
  display: flex;
}

.fd_payment_wrapper ul li a {
  margin-right: 5px;
}

.fd_payment_wrapper>li label {
  position: relative;
  padding-left: 25px;
}

.fd_payment_wrapper>li input {
  display: none;
}

.fd_payment_wrapper>li label:after,.fd_payment_wrapper>li label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 12px;
  height: 12px;
  border: 1px solid #31c609;
  border-radius: 100%;
}

.fd_payment_wrapper>li label:before {
  width: 6px;
  height: 6px;
  border: none;
  background-color: #31c609;
  left: 3px;
  top: 8px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.fd_payment_wrapper>li input:checked~label:before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.fd_payment_wrapper>li.active:after,.fd_payment_wrapper>li:hover:after {
  border-color: #390;
}

.fd_payment_wrapper>li.active:before,.fd_payment_wrapper>li:hover:before {
  background-color: #390;
}

.fd_border_heading {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.fd_cart_wrapper:after {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  content: '';
  right: -8px;
  background-color: #fff;
  top: 130px;
}

.fd_down_button:hover>span>span,.fd_shop_detail {
  background-color: #ab845d;
}

.fd_down_button {
  display: inline-block;
  padding-bottom: 55px;
}

.fd_down_button>span>span {
  width: 83px;
  height: 83px;
  border: 6px solid rgba(171,132,93,.2);
}

.fd_down_button:hover>span>span>span {
  color: #fff;
}

.fd_down_button:hover>span>span>span>span,.fd_down_button:hover>span>span>span>span:after,.fd_down_button:hover>span>span>span>span:before {
  border-color: #fff;
}

.fd_down_button>span {
  width: 98px;
  height: 98px;
  border: 1px solid rgba(171,132,93,.2);
}

.fd_down_button span {
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

span.fd_icon {
  height: 30px;
  width: 20px;
  border: 2px solid #ab845d;
  border-radius: 20px;
  position: relative;
  margin-top: -10%;
}

span.fd_icon:after,span.fd_icon:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid #ab845d;
  border-radius: 100%;
  top: 5px;
}

span.fd_icon:after {
  bottom: -10%;
  border-radius: 0;
  top: 110%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-left: none;
  border-top: none;
}

.fd_viewmore_wrapper {
  margin-top: 30px;
}

.fd_viewmore_btn {
  text-align: center;
  font-family: Caveat,cursive;
  color: #222;
  text-transform: capitalize;
}

.fd_forcall_section h1,.fd_forcall_section h2,.fd_offer_detail h2,.fd_opening_time_wrapper .fd_heading h1,.fd_shop_detail h3,.fd_shop_overlay h3 {
  font-family: Montserrat,sans-serif;
}

.fd_rating li,.fd_shop_detail h2,.fd_shop_detail h3,.fd_shop_overlay,.fd_shop_overlay a:hover {
  color: #fff;
}

.fd_shop_box {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.fd_shop_detail,.fd_shop_overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
}

.fd_shop_img img {
  border-radius: 10px;
}

.fd_shop_detail {
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  border-radius: 0 0 10px 10px;
}

.fd_shop_detail h2,.fd_shop_overlay h2,.fd_shop_overlay h3 {
  font-size: 20px;
  font-family: Montserrat,sans-serif;
  text-transform: capitalize;
}

.fd_shop_detail h3,.fd_shop_overlay h3 {
  font-size: 22px;
  font-weight: 600;
}

.fd_shop_overlay {
  top: 100%;
  background-color: rgba(0,0,0,.8);
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  padding: 15px;
}

.fd_shop_overlay span i:before {
  margin-left: 0;
}

.fd_shop_overlay span {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -ms-transition-delay: .1s;
  -o-transition-delay: .1s;
}

.fd_shop_overlay span:before {
  border: 2px solid #fff;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  height: 100%;
}

ul.fd_rating {
  margin: 0 0 36px;
  padding: 13px 30px;
  list-style: none;
  display: flex;
  background-color: rgba(255,255,255,.1);
  border-radius: 50px;
  transition-delay: .15s;
  -webkit-transition-delay: .15s;
  -moz-transition-delay: .15s;
  -ms-transition-delay: .15s;
  -o-transition-delay: .15s;
}

ul.fd_rating li a i {
  margin: 0 2px;
}

.fd_shop_overlay h2,.fd_shop_overlay h3 {
  color: #fff;
  transition-delay: .25s;
  -webkit-transition-delay: .25s;
  -moz-transition-delay: .25s;
  -ms-transition-delay: .25s;
  -o-transition-delay: .25s;
}

.fd_shop_overlay h2 {
  margin-bottom: 10px;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -ms-transition-delay: .2s;
  -o-transition-delay: .2s;
  font-size: 22px;
  padding-bottom: 10px;
  line-height: 30px;
}

.fd_shop_overlay h2,.fd_shop_overlay h3,.fd_shop_overlay span,ul.fd_rating {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
}

.fd_shop_box:hover .fd_shop_overlay h2,.fd_shop_box:hover .fd_shop_overlay h3,.fd_shop_box:hover .fd_shop_overlay span,.fd_shop_box:hover ul.fd_rating {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.fd_shop_box:hover .fd_shop_overlay {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.fd_shop_box:hover .fd_shop_detail {
  opacity: 0;
  visibity: hidden;
}

.fd_filter_wrapper {
  width: 100%;
}

.fd_filter_wrapper .grid {
  display: flex;
}

ul.fd_filter_menu {
  padding: 0;
  margin: 0 0 60px;
  list-style: none;
  justify-content: center;
  cursor: pointer;
  display: flex;
}

ul.fd_filter_menu>li {
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
  padding: 0 30px;
  border-radius: 50px;
  font-size: 16px;
  color: #222;
  text-transform: capitalize;
  margin: 0 10px 10px;
  display: inline-block;
  font-weight: 500;
}

ul.fd_filter_menu>li.active,ul.fd_filter_menu>li:hover {
  background-color: #ab845d;
  color: #fff;
  border-color: #ab845d;
}

.fd_shop_detail h2 {
  width: 80%;
}

.fd_reservation_wrapper {
  padding: 40px 50px;
  background-color: rgba(255,255,255,.1);
  border-radius: 20px;
  margin-bottom: 180px;
}

.fd_reservation_wrapper .fd_heading_wrapper,.fd_reservation_wrapper .fd_heading_wrapper h1 {
  padding-top: 0;
}

.fd_reservation_wrapper .fd_btn {
  margin-top: 30px;
}

.fd_opening_time_wrapper {
  background-color: #ab845d;
  border-radius: 20px;
}

.fd_reservation_wrapper .fd_heading,.fd_reservation_wrapper.fd_heading {
  background-color: #fff;
}

.fd_opening_time_wrapper .fd_heading {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding: 22px 0 32px;
}

.fd_opening_time_wrapper .fd_heading h1 {
  font-size: 28px;
  text-transform: capitalize;
  color: #ab845d;
  font-weight: 700;
}

.fd_opentime {
  padding: 25px 0 0;
}

.fd_opentime ul {
  margin: 0;
  padding: 22px 45px;
  list-style: none;
}

.fd_opentime ul li {
  padding: 28px 0;
  border-bottom: 1px solid rgba(255,255,255,.1);
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.fd_opentime ul li:last-child {
  border-bottom: none;
}

.fd_forcall_section h1,.fd_forcall_section h2 {
  font-size: 20px;
  background-color: #fff;
  text-transform: capitalize;
  padding: 10px 0;
}

.fd_forcall_section h1 {
  background-color: transparent;
  font-size: 32px;
  color: #fff;
  padding: 21px 0 32px;
}

.fd_opening_time_wrapper .fd_heading .fd_shap_wrapper:after,.fd_opening_time_wrapper .fd_heading .fd_shap_wrapper:before {
  height: 30px;
  bottom: -52px;
  background-color: #ab845d;
}

.fd_offer_detail h1 {
  color: #ab845d;
  font-size: 62px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 62px;
  padding-top: 20px;
}

.fd_offer_detail h2 {
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.fd_blog_box {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 65px;
}

.fd_blog_box .fd_blog_img {
  overflow: hidden;
  border-radius: 18px;
}

.fd_blog_img>a {
  display: block;
  cursor: pointer;
}

.fd_blog_box .fd_blog_img img {
  border-radius: 17px;
  width: 100%;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

.fd_blog_box:hover .fd_blog_img img {
  transform: scale(1.1);
}

.fd_blog_detail {
  padding: 20px 30px;
}

.fd_blog_detail .fd_blog_meta {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.fd_blog_detail .fd_blog_meta ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.fd_blog_detail .fd_blog_meta ul li a i:before,.fd_blog_detail .fd_blog_meta ul li span i:before {
  margin: 0 5px 0 0;
  font-size: 14px;
  color: #ab845d;
}

.fd_blog_detail .fd_blog_meta ul li a,.fd_blog_detail .fd_blog_meta ul li span {
  text-transform: capitalize;
  color: #707070;
  font-size: 14px;
}

.fd_blog_detail .fd_blog_meta ul li {
  padding: 0 15px;
  position: relative;
  font-weight: 500;
}

.fd_blog_detail .fd_blog_meta ul li:first-child {
  padding-left: 0;
}

.fd_blog_detail .fd_blog_meta ul li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 39%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 1px;
  background-color: #e5e5e5;
  height: 7px;
}

.fd_share_wrapper>span:before {
  margin: 0;
  font-size: 14px;
  color: #222;
}

.fd_share_wrapper>span {
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
}

.fd_share_wrapper {
  position: relative;
}

.fd_share_wrapper ul.fd_social_icon {
  position: absolute;
  flex-direction: column-reverse;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 100%;
  opacity: 0;
  visibility: hidden;
}

.fd_share_wrapper:hover ul.fd_social_icon {
  opacity: 1;
  visibility: visible;
}

.fd_share_wrapper ul.fd_social_icon li {
  padding: 0;
  border: none!important;
}

.fd_share_wrapper:hover ul.fd_social_icon li a {
  margin-bottom: 10px;
}

.fd_share_wrapper ul.fd_social_icon li a i:before {
  font-size: 16px;
  margin: 0;
  color: inherit;
}

.fd_share_wrapper ul.fd_social_icon li:before {
  display: none;
}

.linkedin {
  background-color: #067ab8!important;
}

.twitter {
  background-color: #55acee!important;
}

.facebook {
  background-color: #3b5999!important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 18px;
}

.swiper-pagination-bullet {
  background-color: #fff;
  border-radius: 8px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.fd_test_img img {
  border-radius: 100%;
  width: 100px;
}

.fd_testimonial_detail {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 40px;
  width: 80%;
  margin: 50px auto 0;
}

.fd_testimonial_detail>span {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.fd_testimonial_detail span:before {
  color: rgba(171,132,93,.08);
  font-size: 90px;
}

.fd_testimonial_detail p {
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
}

.fd_testimonial_detail .fd_test_img {
  margin-top: -90px;
}

.fd_testimonial_detail>h2>span {
  font-size: 14px;
  color: #666;
  font-weight: 500;
  margin-left: 10px;
}

.fd_testimonial_detail>h2 {
  margin-bottom: 0;
  align-items: center;
  display: inline-flex;
}

.fd_contact_wrapper.fd_reservation_wrapper {
  margin: 60px 0 0;
}

.fd_contact_detail_section {
  display: flex;
  width: 100%;
  padding: 0;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.fd_contact_detail_box {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.fd_contact_detail_box span {
  width: 80px;
  height: 80px;
  display: inline-block;
  line-height: 80px;
  border: 1px solid #ccc;
  border-radius: 100%;
  margin-bottom: 20px;
  color: #ab845d;
  transition: all .1s cubic-bezier(.4,0,1,1);
  -webkit-transition: all .1s cubic-bezier(.4,0,1,1);
  -moz-transition: all .1s cubic-bezier(.4,0,1,1);
  -ms-transition: all .1s cubic-bezier(.4,0,1,1);
  -o-transition: all .1s cubic-bezier(.4,0,1,1);
}

.fd_contact_detail_box span i:before {
  margin: 0;
  color: inherit;
  font-size: 26px;
}

.fd_contact_detail_box .fd_subheading {
  padding-bottom: 8px;
}

.fd_contact_detail_box p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 0;
  word-break: break-word;
}

.fd_contact_detail_box:hover>span {
  background-color: #ab845d;
  color: #fff;
  border-color: #ab845d;
}

.fd_footer_wrapper {
  background-color: #222;
  color: #ffff;
}

.fd_footer_content .fd_menu>ul>li>a {
  font-weight: 500;
}

.fd_copyright_wrapper {
  border-top: 1px solid #333;
  background-color: #222;
}

.fd_footer_content .fd_menu>ul>li {
  padding: 0 18px;
}

.fd_copyright_wrapper .fd_social_icon li {
  margin: 0 5px;
}

.fd_copyright_wrapper .fd_social_icon li a {
  background-color: #222;
  color: #fff!important;
  border: 1px solid #333;
  transition: all .1s cubic-bezier(.4,0,1,1);
  -webkit-transition: all .1s cubic-bezier(.4,0,1,1);
  -moz-transition: all .1s cubic-bezier(.4,0,1,1);
  -ms-transition: all .1s cubic-bezier(.4,0,1,1);
  -o-transition: all .1s cubic-bezier(.4,0,1,1);
  transition-delay: 0s;
}

.fd_copyright_wrapper .fd_social_icon li a:hover {
  color: #ab845d!important;
}

.fd_copyright_wrapper .fd_social_icon {
  margin-top: -20px;
}

.fd_copyright_wrapper p {
  margin: 25px 0 35px;
  font-weight: 500;
  color: #fff;
}

.fd_copyright_wrapper p a {
  color: #ab845d;
}

.fd_fixed_header .fd_blog_single_wrapper {
  z-index: 2;
}

.fd_blogsigle_popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34,34,34,.85);
  z-index: 999;
  padding: 50px 0;
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  opacity: 0;
  visibility: hidden;
}

.fd_blogsigle_popup.fd_fixed {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.pf_popup_inner {
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  overflow-Y: scroll;
}

.pf_popup_inner::-webkit-scrollbar {
  width: 5px;
}

.pf_popup_inner::-webkit-scrollbar-track {
  -moz-box-shadow: inset 0 0 6px #ab845d;
  -ms-box-shadow: inset 0 0 6px #ab845d;
  -o-box-shadow: inset 0 0 6px #ab845d;
  -webkit-box-shadow: inset 0 0 6px #ab845d;
}

.pf_popup_inner::-webkit-scrollbar-thumb {
  background-color: #ab845d;
  outline: #ab845d solid 1px;
}

.fd_blog_single_wrapper {
  z-index: 1;
  position: relative;
  margin-top: 80px;
}

.fd_blog_single_wrapper .fd_blog_box {
  margin-bottom: 30px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.07);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.07);
  -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,.07);
  -ms-box-shadow: 0 5px 20px 0 rgba(0,0,0,.07);
  -o-box-shadow: 0 5px 20px 0 rgba(0,0,0,.07);
}

.fd_blog_single_wrapper .fd_subheading {
  font-weight: 700;
}

.fd_tags_wrapper ul {
  margin: 0;
  list-style: none;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  padding: 12px 0 12px 30px;
}

.fd_tags_wrapper ul li {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  padding-right: 5px;
}

.fd_tags_wrapper ul li:first-child {
  padding-right: 18px;
}

.fd_blog_single_wrapper .fd_blog_detail {
  padding: 20px 10px 10px;
}

.fd_blog_single_wrapper .fd_blog_detail.clear_space {
  padding: 20px 0 0;
}

.fd_blog_single_wrapper .fd_share_wrapper {
  margin-right: 10px;
}

.fd_blockquotes .fd_author_detail {
  color: #222;
}

.fd_blockquotes .fd_author_detail p {
  font-weight: 500;
}

.fd_author_section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fd_author_section {
  display: block;
  width: 100%;
}

.fd_author {
  display: flex;
  align-items: center;
  background-color: #ab845d;
  border-radius: 20px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
  padding: 20px;
  justify-content: space-between;
  margin: 0 0 30px;
}

.fd_blockquotes.fd_author {
  background-color: #fff;
  width: 98%;
  margin: 30px auto;
}

.fd_author_detail {
  width: 82%;
  color: #fff;
}

.fd_author_img img {
  border-radius: 10px;
}

.fd_author_detail p {
  color: inherit;
  margin-bottom: 8px;
  font-size: 16px;
}

.fd_author_detail .fd_subheading {
  font-weight: 600;
  color: inherit;
  margin-bottom: 0;
}

.fd_author_detail .fd_subheading span {
  font-size: 14px;
  font-weight: 500;
}

.fd_author_share {
  display: flex;
  justify-content: space-between;
}

.fd_author_share .fd_social_icon li a {
  width: auto;
  height: auto;
  background-color: transparent!important;
  opacity: .3;
  margin-left: 15px;
}

.fd_author_share .fd_social_icon li a:hover {
  opacity: 1;
}

.fd_author_heading.fd_subheading {
  position: relative;
}

.fd_author_heading.fd_subheading:after {
  position: absolute;
  bottom: -8px;
  width: 76px;
  height: 1px;
  background-color: rgba(255,255,255,.3);
  content: '';
  left: 0;
}

.fd_comment_section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fd_comment_section ul li:first-child .fd_cooment_box {
  border-radius: 20px 20px 0 0;
}

.fd_comment_section ul .fd_cooment_box {
  display: flex;
  padding: 20px;
  border: 1px solid #ccc;
}

.fd_comment_section ul li:last-child .fd_cooment_box {
  border-radius: 0 0 20px 20px;
}

.fd_comment_section ul .fd_cooment_box:hover {
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  -ms-box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  -o-box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
}

.fd_comment_section ul li {
  margin-bottom: -1px;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_detail {
  margin-left: 20px;
  flex: 1;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_img {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 100%;
  line-height: 80px;
  font-size: 25px;
  background-color: #ab845d;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.fd_reply,.fd_sucess_detail h1,.widget ul li a {
  text-transform: capitalize;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_img img {
  border-radius: 100%;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_detail .fd_subheading {
  font-size: 16px;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_detail ul {
  display: flex;
  padding-bottom: 10px;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_detail ul li {
  color: #222;
  margin-right: 20px;
  padding-right: 20px;
  position: relative;
}

.fd_reply {
  color: #666;
  font-weight: 500;
}

.fd_reply i {
  color: #ab845d;
  margin-right: 5px;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_detail ul li:last-child {
  margin: 0;
  padding: 0;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_detail ul li:after {
  content: '';
  position: absolute;
  height: 9px;
  width: 1px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: #ccc;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_detail ul li:last-child:after {
  display: none;
}

.fd_comment_section ul .fd_cooment_box .fd_comment_detail p {
  margin-bottom: 0;
}

.fd_comment_form .form-control {
  border: 1px solid #ccc;
  background-color: transparent;
}

.fd_comment_form .form-group {
  margin-bottom: 28px;
}

.fd_comment_form .fd_btn {
  margin-top: 12px;
}

.fd_comment_form .fd_btn:hover {
  color: #ab845d!important;
}

.fd_blog_single_wrapper .fd_blog_box.clear_shadow {
  box-shadow: none;
  margin-bottom: 20px;
}

.fd_search_wrapper {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,.08);
  -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.08);
  -moz-box-shadow: 0 0 20px 1px rgba(0,0,0,.08);
  -ms-box-shadow: 0 0 20px 1px rgba(0,0,0,.08);
  -o-box-shadow: 0 0 20px 1px rgba(0,0,0,.08);
  border-radius: 20px;
}

.fd_search_wrapper #searchResult {
  padding: 0 0 0 20px;
}

.fd_search_wrapper #searchResult li:first-child {
  margin-top: 15px;
}

.fd_search_wrapper #searchResult li {
  margin-top: 5px;
}

.widget {
  margin-bottom: 40px;
}

.fd_right_section .fd_home {
  color: #fff;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 20px;
  position: relative;
}

.fd_search .form-control {
  border: 1px solid #ccc;
}

.fd_search {
  position: relative;
}

.fd_search .fd_search_btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #ab845d;
}

.fd_sidebar_wrapper .fd_heading_with_line.fd_subheading {
  margin-bottom: 20px;
  font-size: 22px;
}

.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget ul li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 14px;
}

.widget ul li:last-child {
  margin-bottom: 0;
}

.widget ul li a {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.widget ul li:before {
  position: absolute;
  content: "\f105";
  left: 0;
  top: 0;
  font-size: 19px;
  font-family: fontawesome;
  color: #ab845d;
}

.fd_rec_post {
  display: flex;
  align-items: center;
}

.fd_rec_post p {
  margin: 0 0 5px;
  font-weight: 500;
  line-height: 20px;
}

.fd_rec_post img {
  height: 60px;
  border-radius: 10px;
}

.widget_post.widget ul li {
  padding: 0;
}

.widget_post.widget ul li:before {
  display: none;
}

.fd_rec_post span {
  margin-left: 10px;
}

.fd_rec_post p a {
  color: #ab845d;
}

.bootstrap-timepicker-widget,.datepicker.dropdown-menu {
  width: 100%;
  max-width: 280px;
  padding: 5px;
  border: none;
  box-shadow: 1px 5px 10px -4px rgba(171,132,93,.2);
  -webkit-box-shadow: 1px 5px 10px -4px rgba(171,132,93,.2);
  -moz-box-shadow: 1px 5px 10px -4px rgba(171,132,93,.2);
  -ms-box-shadow: 1px 5px 10px -4px rgba(171,132,93,.2);
  -o-box-shadow: 1px 5px 10px -4px rgba(171,132,93,.2);
  margin: 6px 0 0 15px;
  z-index: 1;
}

.bootstrap-timepicker-widget table td input {
  width: 90%;
  border: 1px solid #f5f5f5;
  padding: 10px 0;
}

.datepicker.dropdown-menu table tr th {
  padding: 4px;
  font-weight: 600;
  border: 1px solid #f5f5f5;
  font-size: 13px;
  color: #ab845d;
  border-radius: 0;
}

.datepicker.dropdown-menu table tr td {
  font-size: 10px;
  border: 1px solid #f5f5f5;
  border-radius: 0;
}

.bootstrap-timepicker-widget table td a {
  color: #ab845d;
  padding: 0;
}

.bootstrap-timepicker-widget table td a:hover,.datepicker.dropdown-menu table tr td:hover,.datepicker.dropdown-menu table tr th:hover {
  background-color: transparent;
  color: #ab845d!important;
}

.datepicker.dropdown-menu table tr td.active {
  background-color: #ab845d!important;
  background-image: none;
  border-radius: 0;
}

.bootstrap-timepicker-widget table td a,.datepicker.dropdown-menu table tr th.next,.datepicker.dropdown-menu table tr th.prev {
  position: relative;
}

.bootstrap-timepicker-widget table td a[data-action=decrementHour]:after,.bootstrap-timepicker-widget table td a[data-action=decrementMinute]:after,.bootstrap-timepicker-widget table td a[data-action=incrementHour]:after,.bootstrap-timepicker-widget table td a[data-action=incrementMinute]:after,.bootstrap-timepicker-widget table td a[data-action=toggleMeridian]:after,.bootstrap-timepicker-widget table td.meridian-column a[data-action=toggleMeridian]:after {
  font-family: fontawesome;
  font-weight: 100;
}

.bootstrap-timepicker-widget table td a[data-action=incrementHour]:after,.bootstrap-timepicker-widget table td a[data-action=incrementMinute]:after,.bootstrap-timepicker-widget table td.meridian-column a[data-action=toggleMeridian]:after {
  content: "\f102";
}

.bootstrap-timepicker-widget table td a[data-action=decrementHour]:after,.bootstrap-timepicker-widget table td a[data-action=decrementMinute]:after,.bootstrap-timepicker-widget table td a[data-action=toggleMeridian]:after {
  content: "\f103";
}

.bootstrap-timepicker-widget table tbody tr:nth-child(2) td.separator:nth-child(4):after {
  content: ':';
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
  border-top: 7px solid #f5f5f5;
}

.datepicker table {
  width: 100%;
}

.fd_sucess_wrapper {
  padding-top: 190px;
}

.fd_sucess_wrapper .fd_btn:hover {
  color: #ab845d!important;
}

.fd_sucess_detail h1 {
  font-family: Montserrat,sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding: 15px 0;
}

.fd_sucess_detail {
  padding: 80px;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(171,132,93,.1);
  -webkit-box-shadow: 0 0 40px rgba(171,132,93,.1);
  -moz-box-shadow: 0 0 40px rgba(171,132,93,.1);
  -ms-box-shadow: 0 0 40px rgba(171,132,93,.1);
  -o-box-shadow: 0 0 40px rgba(171,132,93,.1);
}

.fd_inner_page .fd_banner_wpapper {
  padding-top: 0;
}

.fd_inner_page .fd_header {
  padding: 15px 100px;
  align-items: center;
  background: #000;
}

.fd_inner_page .fd_user i:before {
  font-size: 18px;
}

.fd_policy_wrapper,.fd_terms_wrapper {
  padding: 80px 0;
  z-index: 10;
  position: relative;
}

.fd_policy_wrapper .fd_privacy_title,.fd_terms_box .fd_terms_sub_title,.fd_terms_wrapper .fd_terms_title {
  text-align: center;
  margin-bottom: 30px;
  font-family: Montserrat,sans-serif;
}

.fd_terms_box .fd_terms_sub_title {
  margin-bottom: 10px;
}

.fd_privacy_box h5,.fd_terms_box h5 {
  margin-bottom: 10px;
  font-family: Montserrat,sans-serif;
}

.fd_footer_wrapper .fd_menu>ul {
  justify-content: center;
}

.fd_privacy_head,.fd_terms_head {
  display: flex;
  justify-content: space-between;
}

.fd_date_update p,.fd_terms_head p {
  font-weight: 700;
  margin-top: 1px;
}

@media(max-width:1790px) {
  .fd_shap_wrapper:after,.fd_shap_wrapper:before {
    height: 208px;
  }
}

@media(max-width:1550px) {
  .fd_shap_wrapper:after,.fd_shap_wrapper:before {
    height: 212px;
  }
}

@media(max-width:1400px) {
  .fd_shap_wrapper:after,.fd_shap_wrapper:before {
    height: 215px;
  }
}

@media(max-width:1300px) {
  .fd_shap_wrapper:after,.fd_shap_wrapper:before {
    height: 220px;
  }
}

@media(max-width:1200px) {
  .fd_shap_wrapper:after,.fd_shap_wrapper:before {
    height: 225px;
  }

  .fd_menu>ul>li {
    padding: 0 8px;
  }

  .fd_search_field {
    width: 80%;
  }

  .fd_testimonial_detail span {
    left: 34%;
  }

  .fd_opentime ul {
    padding: 20px 18px;
  }

  .fd_opening_time_wrapper .fd_heading {
    padding: 22px 0 40px;
  }

  .fd_blog_detail {
    padding: 20px 10px;
  }

  .fd_contact_wrapper.fd_reservation_wrapper {
    margin: 0;
  }

  .fd_footer_content .fd_menu>ul>li {
    padding: 0 9px;
  }

  .fd_offer_main_wrapper .fd_shap_top:after,.fd_offer_main_wrapper .fd_shap_top:before,.fd_testimonial_main_wrapper .fd_shap_top:after,.fd_testimonial_main_wrapper .fd_shap_top:before {
    bottom: -210px;
  }

  .fd_offer_main_wrapper .row {
    align-items: center;
  }

  .fd_testimonial_main_wrapper br {
    display: none;
  }

  .fd_blog_single_wrapper .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .fd_blog_single_wrapper .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .fd_offer_detail h2 {
    font-size: 40px;
  }

  .fd_author_detail {
    padding-left: 30px;
  }

  .fd_opentime ul li,.fd_shop_detail h2,.fd_shop_overlay h2 {
    font-size: 16px;
  }

  .fd_shop_detail h3,.fd_shop_overlay h3 {
    font-size: 22px;
  }
}

@media(max-width:1010px) {
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }

  .fd_footer_wrapper .col-md-7 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .fd_footer_content .fd_menu ul {
    justify-content: center;
  }
}

@media(max-width:1050px) {
  .fd_shap_wrapper:after,.fd_shap_wrapper:before {
    height: 230px;
  }
}

@media(min-width:991px) {
  .fd_toggle {
    display: none;
  }

  .collapse {
    display: block;
  }
}

@media(max-width:991px) {
  .fd_sucess_wrapper {
    padding-top: 170px;
  }

  .fd_shap_wrapper:after,.fd_shap_wrapper:before {
    height: 240px;
  }

  .fd_shop_detail h3,.fd_shop_overlay h3 {
    font-size: 20px;
  }

  .fd_shop_detail h2,.fd_shop_overlay h2 {
    font-size: 15px;
  }

  .fd_shop_detail {
    padding: 8px 16px;
  }

  .fd_shop_overlay span {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }

  ul.fd_rating {
    padding: 5px 20px;
    margin-bottom: 12px;
  }

  .fd_opentime ul li {
    padding: 13px 0;
    font-size: 15px;
  }

  .fd_opening_time_wrapper .fd_heading h1 {
    font-size: 20px;
  }

  .fd_forcall_section h1 {
    font-size: 25px;
  }

  .fd_reservation_wrapper {
    padding: 17px 25px;
  }

  .fd_banner_content {
    padding: 145px 0 40px;
  }

  .fd_testimonial_detail span {
    left: 30%;
  }

  textarea.form-control {
    height: 130px;
  }

  .fd_contact_wrapper.fd_reservation_wrapper {
    margin: 0 0 38px;
  }

  .fd_contact_img img {
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
  }

  .fd_banner_content h1 {
    font-size: 45px;
  }

  .fd_offer_detail h2 {
    font-size: 30px;
  }

  .fd_toggle {
    padding: 2px 6px 0;
    background-color: #ab845d;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
  }

  .fd_header .fd_menu {
    position: absolute;
    left: 2%;
    z-index: 11;
    width: 96%;
    top: 70px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.2);
    -ms-box-shadow: 0 0 20px rgba(0,0,0,.2);
    -o-box-shadow: 0 0 20px rgba(0,0,0,.2);
  }

  .fd_header .fd_menu:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    right: 200px;
    top: -1px;
  }

  .fd_header .fd_menu ul {
    display: block;
  }

  .fd_header .fd_menu ul li {
    padding: 8px 0;
    border-bottom: 1px solid rgba(171,132,93,.09);
  }

  .fd_header .fd_menu ul li:last-child {
    border-bottom: none;
  }

  .fd_header .fd_menu ul li a {
    color: #333;
  }

  .fd_cart_wrapper {
    right: 0;
    bottom: 110px;
  }

  .fd_cart_section .fd_cart_wrapper:after {
    top: auto;
    bottom: -5px;
    right: 30px;
  }

  .fd_blog_single_wrapper .col-md-3,.fd_blog_single_wrapper .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .fd_sucess_detail {
    padding: 30px;
  }

  ul.fd_filter_menu>li {
    padding: 0 15px;
  }
}

@media(max-width:768px) {
  body>form~.fd_header {
    top: 95px;
  }

  .fd_shap_wrapper:after,.fd_shap_wrapper:before {
    display: none;
  }

  .fd_padder_top60,.fd_padder_top80 {
    padding-top: 40px;
  }

  #contact .row.fd_padder_top100,.fd_offer_detail h1 {
    padding-top: 0;
  }

  .fd_padder_bottom100,.fd_padder_bottom80 {
    padding-bottom: 40px;
  }

  .fd_reservation_wrapper {
    margin-bottom: 50px;
  }

  .fd_contact_detail_box,.fd_opening_time_wrapper {
    margin-bottom: 30px;
  }{  width:100%;
}

.fd_contact_img img {
  transform: none;
}

.fd_footer_content .fd_menu>ul>li>a {
  font-size: 14px;
}

.fd_testimonial_detail span {
  left: 20%;
}

ul.fd_filter_menu>li {
  height: 40px;
  line-height: 35px;
  padding: 0 15px;
  border-radius: 40px;
  margin: 0 5px 10px;
  font-size: 13px;
}

span.fd_line {
  right: 67%;
}

#progressbar li:nth-child(2) .fd_line {
  right: 83%;
}

#progressbar li:nth-child(3) .fd_line {
  right: 82%;
}

.fd_inner_page .fd_header {
  padding: 15px 40px 20px;
}

.fd_testimonial_detail>h2 {
  font-size: 16px;
}

.fd_contact_detail_wrapper.fd_padder_bottom50 {
  padding-bottom: 10px;
}}

@media (max-width:767px) {
  .fd_contact_detail_section {
    display: inline;
    width: 90%;
    margin: 0 auto;
  }

  .fd_cart_wrapper {
    width: 600px;
    right: -20px;
  }

  .fd_cart_section .fd_cart_wrapper:after {
    right: 50px;
  }

  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }

  .fd_header,.fd_header.fd_fixed {
    padding: 20px 40px;
  }

  .fd_banner_wpapper {
    padding-top: 10px;
  }

  .fd_sucess_wrapper .col-md-10.col-sm-10.col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .fd_inner_page .fd_sucess_wrapper {
    padding: 150px 0 100px;
  }

  .fd_header .fd_menu:before {
    right: 155px;
  }
}

@media (max-width:767px)and (orientation:landscape) {
  .fd_cart_wrapper {
    height: 215px;
    bottom: 90px;
  }

  .fd_user_wrapper {
    border-radius: 30px 0 0 30px;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .fd_user_profile {
    height: auto;
    border-radius: 0;
    overflow: auto;
  }
}

@media (max-width:667px)and (orientation:landscape) {
  .fd_cart_wrapper {
    height: 170px;
  }
}

@media (max-width:650px) {
  .fd_related_search ul li {
    display: block;
    text-align: center;
  }

  .fd_related_search ul li .fd_price {
    margin-right: 15px;
  }

  .fd_related_search ul li div {
    display: inline-block;
  }

  .fd_related_search ul li .fd_product_data {
    width: 100%;
    margin-bottom: 10px;
  }

  .fd_cart_wrapper .table-responsive {
    overflow: hidden;
    overflow-x: auto;
  }

  .fd_cart_wrapper {
    width: 480px;
  }

  #progressbar li:nth-child(2) .fd_line {
    right: 77%;
  }

  #progressbar li:nth-child(3) .fd_line {
    right: 74%;
  }

  span.fd_line {
    right: 59%;
  }

  .fd_user_wrapper {
    max-width: 470px;
    right: 0;
  }

  .fd_user_wrapper:before {
    right: 20px;
  }

}

@media (max-width:600px) {
  .fd_policy_wrapper .fd_privacy_title,.fd_terms_box .fd_terms_sub_title,.fd_terms_wrapper .fd_terms_title {
    margin-bottom: 5px;
  }

  .fd_privacy_head,.fd_terms_head {
    display: block;
    text-align: center;
  }

  .fd_shop_img img {
    width: 100%;
  }

  .fd_banner_content .fd_style_text {
    display: block;
    padding: 0;
  }

  .fd_banner_content .fd_style_text:after,.fd_banner_content .fd_style_text:before {
    display: none;
  }

  ul.fd_filter_menu {
    display: inline-block;
  }
}

@media (max-width:480px) {
	body>form~.fd_header {
	top: 134px;
	}

  .fd_inner_page .fd_header {
    padding: 15px 10px 20px;
  }

  .fd_user {
    padding-left: 10px;
    margin-left: 10px;
  }

  .fd_right_section .fd_home {
    padding-right: 10px;
    margin-right: 10px;
  }

  .fd_user_wrapper.fd_user_profile {
    max-width: inherit;
    left: 0;
  }

  .fd_header.fd_fixed {
    padding: 10px 20px;
  }

  .fd_banner_content .fd_style_text {
    font-size: 45px;
  }

  .fd_banner_content h1 {
    font-size: 35px;
  }

  .fd_footer_content .fd_menu ul {
    display: inherit;
  }

  #progressbar li .fd_line,#progressbar li a:after,#progressbar li a:before,.fd_cart_section .fd_cart_wrapper:after {
    display: none;
  }

  .fd_logo img {
    width: 100px;
  }

  ul.fd_filter_menu>li {
    height: 35px;
    line-height: 30px;
    padding: 0 12px;
    border-radius: 35px;
    font-size: 14px;
  }

  .fd_header {
    align-items: center;
    padding: 20px;
  }

	.fd_cart_wrapper{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		bottom: 0;
		height: 100%;
		border-radius: 0;
		max-height: inherit;
		padding:20px;
	}
	.fd_ring_effect{
		z-index:20;
	}
  #msform fieldset {
    height: 350px;
  }
  .fd_cart_section span,.fd_cart_section>span {
    width: 50px;
    height: 50px;
  }
  span.fd_shop_number {
    right: 8px;
	width: 17px;
    height: 17px;
  }

  #progressbar li {
    width: 50%;
  }

  .fd_search_field {
    text-align: center;
  }

  .fd_related_search {
    border-radius: 20px 20px 0 0;
    bottom: 100%;
  }

  .fd_search_field .fd_btn {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 15px;
  }

  .fd_author {
    flex-direction: column;
  }

  .fd_author_detail {
    padding: 20px 0 0;
  }

  .fd_header .fd_menu:before {
    right: 122px;
  }
}

@media(max-width:380px) {
  body>form~.fd_header {
    top: 164px;
  }

  .fd_user_profile .nav-tabs li a {
    font-size: 13px;
    padding: 10px 15px;
  }
} 