/* preloader start */
.hs_preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 99999;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.hs_preloader > .hs_preloader_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -200px;
}
.hs_preloader > .hs_preloader_inner > img {
    max-width: 400px;
    max-height: 300px;
}
/* preloader end */